@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    font-family: 'Poppins', serif;
    background-color: #F4F4F4;
}
header{
    background-color: #272239;
    max-width: 1300px;
    max-height: 90px;
}
.logo{
    margin-top: 15px;
    max-width: 150px;
    max-height: 70px;
}
header nav{
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    margin-right: 400px;
    text-decoration: none;
}
header nav:hover{
    color: black;
}
.nav a{
    margin-top: -50px;
    padding-left: 50px;
	text-decoration: none;
    color: white;
    font-size: 18px;
}
.nav a:hover{
    color: palevioletred;
}
main{
    background-color: #F4F4F4;
}
.container h1{
    margin-top: 150px;
    margin-left: 100px;
    padding-top: 20px;
    max-width: 300px;
    color: #590572;
    text-decoration: underline;
}
.container p{
    margin-top: 50px;
    margin-left: 100px;
    padding-top: 10px;
    max-width: 400px;
    color: #6B05BF;
    font-size: 14px;
    margin-bottom: 80px;
}
.tab-1{
    background-color: #6B05BF;
    border: 10px #6B05BF solid;
    max-width: 50px;
    border-radius: 25px;
    color: beige;
    text-decoration: none;
    margin-left: 90px;
    max-width:600px;
}
.header-text{
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
}
.header-img{
    margin-top: -150px;
    max-width: 500px;
    max-height: 700px;
}